<ul class="w3-navbar w3-teal">
	<li><a href="./#/paths">Learning Paths</a></li>
	<li class="w3-right"><a href="http://jimee.in" target="_blank">Visit My Profile</a></li>
</ul>
<div class="w3-center">
	<h1 class="ff-baloo tag-line">Own Your Career.</h1>
	<h3>7 career path to choose from . More than 1 Lakhs learners</h3>

	<h4>Springboard's personalized approach is designed to help you achieve your goals and advance your career.Spring Board is the serious step into data science that you have been looking for.</h4>
</div>
<div class="w3-center">
	<button class="w3-btn w3-xlarge w3-red" ng-click="home.explore()">Explore All Learning Paths</button>
</div>